<SpecTool>

<Version>2018-1-1</Version>

<GmsPackage>
<package version="8.1_201809.go" start="2018-1-1" end="2018-10-10"/>
</GmsPackage>

<TestTool>
<tool name="CTS" start="" end="2018-10-10"/>
<tool name="CTS" start="" end="2018-12-25"/>
<tool name="CTS" start="" end="2019-10-10"/>
</TestTool>

<Broadcast priority="high">
1）工具--详情请参考附件
  1.1 表格加入android 9.0 tool loop,工具同步上传76 server;
  1.2 GTS 6.0R3 一条fail正在申请Google豁免：https://partnerissuetracker.corp.google.com/issues/120884294 
        目前 GTS 6.0R2 还可以继续用到2019/01/02,比较急的项目可以考虑使用这个工具，
  1.3 201901版本 STS 两条fail ，正在提MTK.   备注：2019/3/30号之前不会卡STS
</Broadcast>
</SpecTool>
